<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="UTF-8">
    <title>INF5190 Projet de session - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/datatables.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <style>
    @media (min-width: 1200px) {
        .container {
            max-width: 992px;
        }
    }
    </style>
</head>
<body class="d-flex justify-content-center">
<div class="container">
    <header>
        <div class="d-flex my-3 align-items-center" role="navigation">
            <div class="me-3 col-md-auto col-sm-auto">
                <b>INF5190 Projet de session</b>
            </div>
            <ul class="nav col-12 col-md-auto me-md-auto col-sm-auto">
                <li class="nav-item"><a class="nav-link" href="/">Recherche d'installations</a></li>
            </ul>
        </div>
    </header>
    <div class="mb-4" id="content">
        <h1 class="mb-4">{{ self.title() }}</h1>
        {% block content %}{% endblock %}
    </div>
</div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/datatables.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>