{% extends "base.html" %}

{% block title %}Modifier cette glissade{% endblock %}

{% block content %}


<div class="mb-4">
    <form class="needs-validation" action="/api/v1/installations/playground-slides/{{id}}" method="put" id="subscribe-form">

        <div class="mb-3">
          <label class="form-label" for="nom">Nom</label>
            <input class="form-control" type="text" id="nom" name="nom" aria-describedby="title-help"placeholder="{{nom}}" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="arrondissement_id">Arrondissements</label>
            <select class="form-select" id="arrondissement_id" name="arrondissement_id" >
                {% for borough in boroughs %}
                <option value="{{ borough.id }}">{{ borough.nom }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="ouvert">Ouvert</label>
            <input class="form-control" type="number" id="ouvert" name="ouvert" aria-describedby="title-help" placeholder="{{ouvert}}" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="deblaye">Deblaye</label>
            <input class="form-control" type="number" id="deblaye" name="deblaye" aria-describedby="title-help" placeholder="{{deblaye}}" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="condition">Condition</label>
            <input class="form-control" type="text" id="condition" name="condition" aria-describedby="title-help" placeholder="{{condition}}" required>
        </div>
        <button class="validate btn btn-primary" onclick='validatePlaygroundSlide({{id}})'>Validate</button>
    </form>
</div>

<div class="alert alert-danger" role="alert" style="display:none;" id="subscribe-error"></div>

{% endblock %}
