{% extends "base.html" %}

{% block title %}Recherche d'installations{% endblock %}

{% block content %}

<div class="alert alert-warning alert-dismissible fade show" role="alert" style="display:none;" id="search-error">

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="mb-4">
    <p>Sélectionnez un mode de recherche. Veuillez à bien consulter les différentes catégories</p>

    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="search-mode" id="select-mode-borough" checked>
            <label class="form-check-label" for="select-mode-borough">
                Par arrondissement
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="search-mode" id="select-mode-name">
            <label class="form-check-label" for="select-mode-name">
                Par nom
            </label>
        </div>
    </div>

    <div id="search-borough-div">
        <form class="needs-validation" action="{{ url_for('api.facilities') }}" method="get" id="search-borough-form">
            <div class="mb-3">
                <label class="form-label" for="borough-name">Nom de l'arrondissement</label>
                <input class="form-control" type="text" id="borough-name" name="arrondissement" aria-describedby="title-help">
            </div>

            <input class="btn btn-primary" type="submit" value="Rechercher" id="submit-search-borough">
        </form>
    </div>

    <div id="search-name-div" style="display:none;">
        <form class="needs-validation" action="{{ url_for('api.facility_name_search') }}" method="get" id="search-name-form">
            <div class="mb-3">
                <label class="form-label" for="facility-name">Nom de l'installation</label>
                <select class="form-select" aria-label="Nom de l'installation" name="nom" id="facility-name">
                    <option selected>Veuillez sélectionner...</option>
                </select>
            </div>

            <input class="btn btn-primary" type="submit" value="Rechercher" id="submit-search-name">
        </form>
    </div>
</div>

<h1>Résultats de la recherche</h1>

<ul class="nav nav-tabs pt-2 mb-4" id="tabs" role="tablist">
    <li class="nav-item" role="presentation">
       <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#slides" type="button" role="tab" aria-controls="slides" aria-selected="true">Glissades</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#aquatic_installations" type="button" role="tab" aria-controls="aquatic_installations" aria-selected="false">Installations aquatiques</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#ice_rinks" type="button" role="tab" aria-controls="ice_rinks" aria-selected="false">Patinoires</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="slides" role="tabpanel" aria-labelledby="slides-tab">
        <table class="table table-striped" id="slides-table" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Arrondissement</th>
                    <th>Ouvert</th>
                    <th>Déblayé</th>
                    <th>Condition</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tab-pane fade" id="aquatic_installations" role="tabpanel" aria-labelledby="aquatic_installations-tab">
        <table class="table table-striped" id="aquatic_installations-table" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Arrondissement</th>
                    <th>Type</th>
                    <th>Adresse</th>
                    <th>Propriété</th>
                    <th>Gestion</th>
                    <th>Équipement</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tab-pane fade" id="ice_rinks" role="tabpanel" aria-labelledby="ice_rinks-tab">
        <table class="table table-striped" id="ice_rinks-table" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Arrondissement</th>
                    <th>Dernière màj</th>
                    <th>Ouvert</th>
                    <th>Déblayé</th>
                    <th>Arrosée</th>
                    <th>Resurfacée</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/js/fill_facility_name_dropdown.js"></script>
{% endblock %}
